# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment files
.env

# Ignore database file if using SQLite (optional)
*.sqlite3
*.db

# Ignore logs and debug output
*.log

# Ignore OS or editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
