<!DOCTYPE html>
<html>
<head>
    <title>All Bookings</title>
</head>
<body>
    <h1>List of All Bookings</h1>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Booking Date</th>
            <th>Status</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking[0] }}</td>
            <td>{{ booking[1] }}</td>
            <td>{{ booking[2] }}</td>
            <td>{{ booking[3] }}</td>
            <td>{{ booking[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/book">Back to Booking</a>
</body>
</html>
